<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>{{libro.titulo}}</title>
</head>
<body>
    <h1>Nombre</h1>
    <p> {{ libro.titulo }} </p>

    <h2>Autor</h2>
    <p>  {{ libro.autor }} </p>

    <h2>Editorial</h2>
    <p>  {{ libro.editorial }} </p>

    <h2>Fecha de publicación</h2>
    <p>  {{ libro.f_publi }} </p>

    <h2>Genero</h2>
    <p>  {{ libro.genero }} </p>

    <h2>ISBN</h2>
    <p>  {{ libro.isbn }} </p>

    <h2>Resumen del libro</h2>
    <p>  {{ libro.resumen }} </p>

    <h2>Portada</h2>
    <p>  {{ libro.portada }} </p>

    <h2>Disponibilidad del libro</h2>
    <p>  {{ libro.disponibilidad }} </p>
</body>
</html>