<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>{{libro.titulo}}</title>
</head>
<body>
    <h1>Nombre</h1>
    <p> {{ libro.titulo }} </p>

    <h2>Autor</h2>
    <p>  {{ libro.autor }} </p>

    <h2>Editorial</h2>
    <p>  {{ libro.editorial }} </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Devolver</button>
    </form>
</body>
</html>