<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Resultado Busquedas</title>
</head>
<body>
    {% if libros_encontrados %}
        <ul>
            {% for libro in libros_encontrados %}
                <li>
                    <h3><a href="{% url 'detalle_libro' pk=libro.pk %}"> <img src="{{libro.portada.url}}"> {{libro.titulo}}</a></h3>
                    <!-- Agrega aquí cualquier otra información del libro que desees mostrar -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron libros que coincidan con la búsqueda.</p>
    {% endif %}
</body>
</html>