<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Registro de libro</title>
</head>
<body>
    <h1>Complete el formulario para editar este libro</h1>
    <form action="{% url 'editar_libro' %}" method="post">
        {{% csrf_token %}}
        {{ form.as_p }}
        <button type="submit">Editar libro</button>
    </form>
</body>
</html>