<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title>Listado de Libros</title>
</head>
<body>
    <a href="{% url 'login' %}" role="button">Iniciar sesión</a>
    <a href="{% url 'logout' %}" role="button">Cerrar sesíon</a>

    <ul>
        <li>
            <h1>Libros disponibles</h1>
            {% for libro in libros_disponibles %}
                <li>
                    <h3><a href="{% url 'detalle_libro' pk=libro.pk %}"> <img src="{{libro.portada.url}}"> {{libro.titulo}}</a></h3>
                    <a href="{% url 'editar_libro' pk=libro.pk %}" role="button"> Editar este libro </a>
                    <a href="{% url 'borrar_libro' pk=libro.pk %}" role="button">Borrar este libro</a>
                    <a href="{% url 'reservar_libro' pk=libro.pk %}" role="button">Reservar</a>
                </li>
            {% empty %}
                <p> No hay libros disponibles. </p>
            {% endfor %}
        </li>
        <li>
            <h1>Libros prestados</h1>
            {% for libro in libros_prestados %}
                <li>
                    <h3><a href="{% url 'detalle_libro' pk=libro.pk %}"> <img src="{{libro.portada.url}}"> {{libro.titulo}}</a></h3>
                    <a href="{% url 'editar_libro' pk=libro.pk %}" role="button"> Editar este libro </a>
                    <a href="{% url 'borrar_libro' pk=libro.pk %}" role="button">Borrar este libro</a>
                    <a href="{% url 'devolver_libro' pk=libro.pk %}" role="button">Devolver</a>
                </li>
            {% empty %}
                <p> No hay libros prestados. </p>
            {% endfor %}
        </li>
        <hr style="border: 1px solid black; margin-right: 20px;">
        <a href="{% url 'nuevo_libro' %}" role="button">Registrar un libro</a>
        <span style="border-left: 1px solid black; padding-right: 8px;"> </span>
        <a href="{% url 'libros_usuario' %}" role="button">Mis libros</a>
        <a href="{% url 'filtrar' %}" role="button">Filtrar libros</a>
    </ul>
</body>
</html>